// Bootstrap
@import '~bootstrap/scss/bootstrap';


.brand-icon {
    color: #8D34BC;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-login .corner-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login .corner-middle {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-login .corner-bottom {
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-login .alert {
    margin-top: 10px;
}

.button-link:hover {
    text-decoration: none;
}
Button {
    margin-bottom: 10px;
}